name: CI Pipeline

on:
  push:
    branches:
      - main
    paths:
      - 'app/**'
      - 'test/**'
      - '.github/workflows/ci.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'app/**'
      - 'test/**'
      - '.github/workflows/ci.yml'

jobs:
  quality-checks:
    name: Code Quality and Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install black flake8 pytest bandit safety

      - name: Run Black (Code Formatter)
        run: black --check .

      - name: Run Bandit (Security Checks)
        run: bandit -r . --exclude ./test/

      - name: Run Pytest with Coverage (Unit Tests)
        run: |
          pip install pytest-cov
          export PYTHONPATH=.
          pytest --cov=app.model --cov=app.infra --cov=app.conversion --cov-report=term-missing --cov-report=xml --maxfail=3 --disable-warnings -v

      - name: Upload Coverage to GitHub Actions
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml

      - name: Generate Coverage Badge for README
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: tj-actions/coverage-badge-py@v2

      - name: Upload coverage badge for README
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: coverage-badge
          path: coverage-badge.svg

      - name: Pytest Coverage Comment on PRs
        if: github.event_name == 'pull_request'
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-xml-coverage-path: ./coverage.xml
